<div class="container">
  <h2 class ='m-5 text-center'>Προσθήκη Post</h2>
  
  <form [formGroup]="form" (ngSubmit)="submit()">

    <div class="form-group p-3">
      <label class="m-2" for="title">Τίτλος</label>
      <input type="text" id="title" class="form-control" formControlName="title" />
      <div *ngIf="f['title'].invalid && f['title'].touched" class="text-danger">
        Παρακαλώ συμπληρώστε τίτλο.
      </div>
    </div>

    <div class="form-group p-3">
      <label class="m-2" for="body">Body</label>
      <textarea id="body" class="form-control" formControlName="body"></textarea>
      <div *ngIf="f['body'].invalid && f['body'].touched" class="text-danger">
        Παρακαλώ συμπληρώστε το κείμενο.
      </div>
    </div>

    <div class="form-group p-3">
      <label class="m-2" for="userId">Επιλέξτε χρήστη</label>
      <select id="userId" class="form-control" formControlName="userId">
        <option value="" disabled>Επιλέξτε όνομα χρήστη</option>
        <option *ngFor="let user of users" [value]="user.id">{{ user.username }}</option>
      </select>
      <div *ngIf="f['userId'].invalid && f['userId'].touched" class="text-danger">
        Παρακαλώ συμπληρώστε τον χρήστη.
      </div>
    </div>

    <button type="submit" class="btn text-black m-3">
      Προσθήκη Post
      <img class ='m-2' src="add.png" alt="Delete Post" width="20px" height="20px">
    </button>
  </form>
</div>
